# Name of project
PROJECT_NAME="Financial Analytics Platform"

# Settings for postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5434
POSTGRES_DB=financial_db

CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=clickhouse_password
CLICKHOUSE_DB=default

REDIS_HOST=localhost
REDIS_PORT=6380
