# Name of project
PROJECT_NAME="Financial Analytics Platform"

# Settings for postgres
POSTGRES_USER=USER
POSTGRES_PASSWORD=PASSWORD
POSTGRES_HOST=localhost
POSTGRES_PORT=PORT
POSTGRES_DB=financial_db

CLICKHOUSE_HOST=HOST
CLICKHOUSE_PORT=PORT
CLICKHOUSE_USER=USER
CLICKHOUSE_PASSWORD=PASSWORD
CLICKHOUSE_DB=DB